.main-header {
    font-family: Arial;
    font-size: 60px;
    text-align: center;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rectangle{
    height: 50px;
    width: 100px;
    background-color: red;
    position: absolute;
    left: 50%;
    bottom: 10%;
}

.description {
    font-family: Arial;
    font-size: 25px;
    color: lightblue;
}